html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background: #050505 url("../img/img01.jpg") repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #5b5b5b;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    color: #222222;
}

h2 {
    font-size: 2.8em;
}

h3 {
    font-size: 1.6em;
}

p,
ul,
ol {
    margin-top: 0;
    line-height: 180%;
}

a {
    color: #5e5e5e;
}

#wrapper {
    background: #ffffff url("../img/img05.jpg") repeat;
}

.site-container {
    max-width: 1000px;
}

.group::after {
    content: '';
    clear: both;
    display: block;
}

/******* Header *******/

header {
    width: 100%;
    margin: 0 auto;
}

#banner {
    margin: 0 auto;
}

#banner img {
    height: auto;
    width: 100%;
}

/******* Logo *******/

#logo h1 {
    line-height: 120px;
    letter-spacing: -2px;
    font-size: 3.8em;
}

#logo h1 a {
    color: #1f1f1f;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

@media all and (max-width: 850px) {
    #logo {
        text-align: center;
    }
}

/******* Navigation *******/

nav ul {
    margin: 0;
    padding: 20px 0 0 0;
}

nav a {
    display: block;
    line-height: 600%;
    padding: 0.9em 1em;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

nav a:hover,
nav .current_page_item a {
    background: url("../img/img01.jpg") repeat;
    text-decoration: none;
    color: #ffffff;
}

@media all and (max-width: 600px) {
    nav a {
        line-height: 300%;
    }
}

@media all and (min-width: 600px) {
    nav a {
        line-height: 300%;
    }
    nav li {
        display: inline-block;
        width: 49%;
        padding-bottom: 4px;
    }
}

@media all and (min-width: 850px) {
    nav li {
        width: 33%;
    }
}

@media all and (min-width: 1100px) {
    nav a {
        line-height: 600%;
    }
    nav li {
        width: 19.67%;
    }
}


/******* Page *******/

#page {
    padding: 30px 0;
}

/******* Main Content *******/

article {
    max-width: 80%;
    margin: left;
}

.post {
    margin-bottom: 40px;
    border-bottom: 1px solid #e7ebed;
}

.post .title {
    padding: 7px 0 0 0;
    letter-spacing: -1px;
}

.post .title a {
    text-decoration: none;
    color: #222222;
}

.post .meta {
    margin-bottom: 30px;
    padding: 10px 0 0 0;
    font-family: 'Abel', sans-serif;
    font-size: 16px;
}

.post .meta time {
    float: left;
}

.post .meta .posted {
    float: right;
}

.post .entry {
    padding: 20px 0 40px 0;
    text-align: justify;
}

.links {
    padding-top: 20px;
    margin-bottom: 30px;
}

.more,
.comments {
    float: left;
    width: 88px;
    padding: 5px 5px;
    margin-right: 10px;
    background: #222222;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

@media (max-width: 849px) {
    .post {
        padding: 25px;
        margin: auto;
    }

    #sidebar h3 {
        text-align: center;
    }
}

@media (min-width: 850px) {
    #page section {
        float: right;
        margin-left: 1em;
        width: calc(100% / 3 * 2);
    }

    #sidebar {
        float: left;
        width: calc(100% / 3 - 1.5em);
    }
}

/******* Sidebar/Aside *******/

#sidebar {
    padding: 30px 0 0 0;
}

#sidebar ul {
    padding: 0;
    list-style: none;
}

#sidebar section ul {
    padding-bottom: 30px;
}

#sidebar section li {
    line-height: 40px;
    border-bottom: 1px solid #e7ebed;
}

#sidebar section li a {
    padding: 0 0 0 20px;
    background: url("../img/img04.jpg") no-repeat left 50%;
}

#sidebar h3 {
    padding: 0 0 30px 0;
    letter-spacing: -0.5px;
    font-size: 1.8em;
}

/******* Footer *******/

footer {
    padding: 50px 0 15px 0;
    font-family: 'Abel', sans-serif;
}

footer p {
    padding-top: 10px;
    letter-spacing: 1px;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    color: #5e5e5e;
}
